.element-socialshare a {
    background: url(/components/com_elements/views/elements/socialshare/assets/images/large.png) no-repeat top left;
    display: block;
    text-indent: -9999px;
    float: left;
}

.element-socialshare a.pintrest {width:114px;height:114px;background-position:-237px -55px;background-repeat:no-repeat;}
.element-socialshare a.google {width:114px;height:114px;background-position:-237px -205px;background-repeat:no-repeat;}
.element-socialshare a.twitter {width:114px;height:114px;background-position:-237px -355px;background-repeat:no-repeat;}
.element-socialshare a.facebook {width:114px;height:114px;background-position:-237px -505px;background-repeat:no-repeat;}
.element-socialshare a.linkedin {width:114px;height:114px;background-position:-237px -655px;display:block;background-repeat:no-repeat;}