.element-socialshare a {
    background: url(/components/com_elements/views/elements/socialshare/assets/images/medium.png) no-repeat top left;
    display: block;
    text-indent: -9999px;
    float: left;
    margin: 5px;
}
.element-socialshare a.facebook {
    background-position: 0 0;
    width: 80px;
    height: 28px;
}
.element-socialshare a.linkedin {
    background-position: 0 -33px;
    width: 80px;
    height: 28px;
}
.element-socialshare a.twitter {
    background-position: 0 -66px;
    width: 80px;
    height: 28px;
}
