
@import "../../../../../../../libraries/bootstrap/less/mixins.less";
@import "../../../../../../../libraries/bootstrap/less/variables.less";

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:invalid,
textarea:invalid,
select:invalid {
    &:focus {
        border-color: darken(#ee5f5b, 10%);
        @shadow: 0 0 6px lighten(#ee5f5b, 20%);
        .box-shadow(@shadow);
    }
}


/***
Form Styles
***/

.control-label{
    position: relative;
}


.help-block{
    margin-top: 5px;
}

.sidebar {
    .controls-calendar input{
        min-width: 120px;
    }
}