
ul.repeatable{
    margin-bottom: 10px;
    
    li{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .buttons{
            float: right;

            .icon{
                cursor: pointer;
            }
        }

        > .element{
            margin-right: 50px;
        }
    }
}

.repeatable-add{
    margin-bottom: 10px !important;
}