ul.repeatable {
  margin-bottom: 10px;
}
ul.repeatable li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
ul.repeatable li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
ul.repeatable li .buttons {
  float: right;
}
ul.repeatable li .buttons .icon {
  cursor: pointer;
}
ul.repeatable li > .element {
  margin-right: 50px;
}
.repeatable-add {
  margin-bottom: 10px !important;
}
