.element-image .image {
  float: left;
  width: 200px;
  border: 2px solid #eee;
}
.element-image .image.dropzone_empty {
  border: 2px dashed #888;
  border-radius: 10px;
  overflow: hidden;
}
.element-image .image img {
  max-width: 200px;
  height: auto;
}
.element-image .details {
  margin-left: 215px;
}
.element-image .details .src {
  display: inline;
}
.element-image .details .btn-file {
  display: inline-block;
}
.element-image .details .fileupload-progress {
  display: inline-block;
  margin: 10px 0;
  display: none;
}
.element-image .details .fileupload-progress.fade.in {
  display: block;
}
.element-image .details .fileupload-progress .progress {
  margin-bottom: 0;
}
.element-image .details .files {
  margin: 10px 0;
}
.element-image .details:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: left;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file > input {
  position: absolute;
  top: 0;
  left: -35px;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  z-index: 2;
  cursor: pointer;
}
