
#panel-content{
    .form-content{
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
    }

    .sidebar{
        -webkit-order: 0;
        -moz-order: 0;
        order: 0;
    }
}


.layout_assign{

    .pane-sliders{
        .header{
            display: -moz-box;
            display: -webkit-box;
            display: box;
            width: 100%;

            h3{
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                box-flex: 1;
                margin-bottom: 0;
                border-radius: 4px 0 0 4px;
                border-right: 0;

                sub{
                    color: #888;
                    vertical-align: middle;
                    display: inline-block;
                    margin-top: -7px;
                    margin-left: 5px;
                }
            }

            .btn{
                padding: 4px 8px;
                min-height: 21px;
                margin-left: 0;
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                box-flex: 0;
                display: block;


                i{
                    margin-top: 3px;
                }
            }

            .btn.remove{
                border-radius: 0;
            }

            .btn:last-child{
                border-radius: 0 4px 4px 0;
            }
        }

        .jparameters{
            padding-top: 10px;
        }

        .element{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }

            &.hideConfig .config{
                display: none;
            }
        }

        .clone{
            .config{
                display: none;
            }
        }
    }

    #positions {
        .position {
            float: left;
            width: 49%;
            margin-left: 2%;
            margin-bottom: 15px;

            &:nth-child(odd)
            {
                clear: left;
                margin-left: 0;
            }

            > legend{
                margin-bottom: 15px;
            }

            .pane-sliders{
                border: 1px #ccc dashed;
                min-height: 40px;

                input{
                    max-width: 95%;
                }
            }
        }
    }

    #elements {
        border-right: 1px solid #ddd;
        padding-right: 30px;

        fieldset{
            > legend{
                margin-bottom: 15px;
            }
        }

        .pane-sliders{
            .header{
                .remove{
                    display: none;
                }
            }
        }

        .config {
            display: none;
        }
    }
}