
.com_elements.structure {

    div.title{
        margin: -20px -20px 15px;
    }

    .element_types {
        li {
            margin-bottom: 5px;
        }
    }

    .elements {
        position: relative;
        padding: 5px;
        .element:last-child {
            margin-bottom: 0;
        }
        .element {
            margin-bottom: 10px;
            .header {
                display: -moz-box;
                display: -webkit-box;
                display: box;
                width: 100%;
                span.loading {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../img/ajax-loader-small.gif) no-repeat center;
                    margin-left: 10px;
                    vertical-align: middle;
                }
                .btn {
                    margin-left: 5px;
                    padding: 4px 7px;
                }
                .title {
                    -moz-box-flex: 1;
                    -webkit-box-flex: 1;
                    box-flex: 1;
                    margin-bottom: 0;
                }
            }
            .jparameters {
                padding-top: 10px;
            }
        }
        .element.clone {
            left: 5px !important;
        }
    }
}
