.element-image {

    .image{
        float: left;
        width: 200px;
        border: 2px solid #eee;

        &.dropzone_empty{
            border: 2px dashed #888;
            border-radius: 10px;
            overflow: hidden;
        }

        img{
            max-width: 200px;
            height: auto;
        }
    }

    .details{
        margin-left: 215px;

        .src{
            display: inline;
        }

        .btn-file{
            display: inline-block;
        }

        .fileupload-progress{
            display: inline-block;
            margin: 10px 0;
            display: none;

            &.fade.in{
                display: block;
            }

            .progress{
                margin-bottom: 0;
            }
        }

        .files{
            margin: 10px 0;
        }
    }

    .details:after{
        content: '';
        display: block;
        height: 0;
        overflow: hidden;
        clear: left;
    }
}

.btn-file{
    position: relative;
    overflow: hidden;

    > input{
        position: absolute;
        top: 0;
        left: -35px;

        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=0);
        z-index: 2;
        cursor: pointer;
    }
}