.video-form {
	margin: 0;
	padding: 0;
}

.video-form li {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
}

.video-form li label {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

.video-form li input,
.video-form li select,
.video-form li textarea {
	display: inline-block;
	vertical-align: top;
}

.video-form li textarea {
	width: 500px;
	height: 100px;
}
