#panel-content .form-content {
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
}
#panel-content .sidebar {
  -webkit-order: 0;
  -moz-order: 0;
  order: 0;
}
.layout_assign .pane-sliders .header {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  width: 100%;
}
.layout_assign .pane-sliders .header h3 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin-bottom: 0;
  border-radius: 4px 0 0 4px;
  border-right: 0;
}
.layout_assign .pane-sliders .header h3 sub {
  color: #888;
  vertical-align: middle;
  display: inline-block;
  margin-top: -7px;
  margin-left: 5px;
}
.layout_assign .pane-sliders .header .btn {
  padding: 4px 8px;
  min-height: 21px;
  margin-left: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  display: block;
}
.layout_assign .pane-sliders .header .btn i {
  margin-top: 3px;
}
.layout_assign .pane-sliders .header .btn.remove {
  border-radius: 0;
}
.layout_assign .pane-sliders .header .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.layout_assign .pane-sliders .jparameters {
  padding-top: 10px;
}
.layout_assign .pane-sliders .element {
  margin-bottom: 10px;
}
.layout_assign .pane-sliders .element:last-child {
  margin-bottom: 0;
}
.layout_assign .pane-sliders .element.hideConfig .config {
  display: none;
}
.layout_assign .pane-sliders .clone .config {
  display: none;
}
.layout_assign #positions .position {
  float: left;
  width: 49%;
  margin-left: 2%;
  margin-bottom: 15px;
}
.layout_assign #positions .position:nth-child(odd) {
  clear: left;
  margin-left: 0;
}
.layout_assign #positions .position > legend {
  margin-bottom: 15px;
}
.layout_assign #positions .position .pane-sliders {
  border: 1px #ccc dashed;
  min-height: 40px;
}
.layout_assign #positions .position .pane-sliders input {
  max-width: 95%;
}
.layout_assign #elements {
  border-right: 1px solid #ddd;
  padding-right: 30px;
}
.layout_assign #elements fieldset > legend {
  margin-bottom: 15px;
}
.layout_assign #elements .pane-sliders .header .remove {
  display: none;
}
.layout_assign #elements .config {
  display: none;
}
