.com_elements.structure div.title {
  margin: -20px -20px 15px;
}
.com_elements.structure .element_types li {
  margin-bottom: 5px;
}
.com_elements.structure .elements {
  position: relative;
  padding: 5px;
}
.com_elements.structure .elements .element:last-child {
  margin-bottom: 0;
}
.com_elements.structure .elements .element {
  margin-bottom: 10px;
}
.com_elements.structure .elements .element .header {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  width: 100%;
}
.com_elements.structure .elements .element .header span.loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/ajax-loader-small.gif) no-repeat center;
  margin-left: 10px;
  vertical-align: middle;
}
.com_elements.structure .elements .element .header .btn {
  margin-left: 5px;
  padding: 4px 7px;
}
.com_elements.structure .elements .element .header .title {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  margin-bottom: 0;
}
.com_elements.structure .elements .element .jparameters {
  padding-top: 10px;
}
.com_elements.structure .elements .element.clone {
  left: 5px !important;
}
